@import url(./var.css);

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    background: var(--color-bg);
    color: var(--color-white);
    font-family: var(--font-primary);
}

.scorlledHeader{
    background : var(--color-bg);
    outline: 2px solid var(--color-bg-two)
}

.highlight-text{
    color: aqua;
}


.header{
    display: flex;
    justify-content: center;
    width: 100vw;
    position: fixed;
    top: 0;
}

.header nav{
    padding: 30px;
    width: 40%;
}


.header ul{
    display: flex;
    list-style: none;
    font-weight: bold;
    padding: 20px;
    border-radius: 50px;
    transition: background-color 0.3s linear;
}

.header li{
    text-align: center;
    width: 100%;
}

.main-about_me{
    background: var(--color-bg-two);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about_me-info{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 0 0 50px;
}

.info-box1-welcome{
    text-transform: uppercase;
    color: var(--color-gray);
    font-size: 1.5em;
    font-family: var(--font-secundary);
    margin-bottom: 30px;
}

.info-box1-name{
    color: var(--color-white);
    text-transform: capitalize;
    font-size: 4em;
}

.info-box1-role{
    text-transform: capitalize;
    color: var(--color-gray);
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
}






.main-section2{
    height: 200vh;
}



